/* Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img, 
picture, 
svg, 
video {
    display: block;
    max-width: 100%;
}

/* Custom properties */
@font-face {
    font-family: Figtree;
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}


:root {
    --clr-primary-400: hsl(47 88 63);
    --clr-neutral-100: hsl(0 0 100);
    --clr-neutral-400: hsl(0 0 50);
    --clr-neutral-900: hsl(0 0 7);
    
    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-700: 1.5rem;

    --ff-primary: Figtree;

    --fw-normal: 500;
    --fw-bold: 800;
}

/* Utilities */
.text--fw-normal {
    font-weight: var(--fw-normal);
}
.text--fw-bold {
    font-weight: var(--fw-bold);
}
.text--fs-400 {
    font-size: var(--fs-400);
}
.text--fs-300 {
    font-size: var(--fs-300);
}
.text--fs-700 {
    font-size: var(--fs-700);
}
.clr-neutral-400 {
    color: var(--clr-neutral-400);
}

/* Components */

body {
    background-color: var(--clr-primary-400);
    display: grid;
    place-content: center;
    height: 100vh;
    padding: 1.5rem;
}

.card {
    background-color: var(--clr-neutral-100);
    max-width: 384px;
    padding: 1.5rem;
    display: grid;
    gap: 1.5rem;
    margin-inline: auto;
    border: 2px solid var(--clr-neutral-900);
    border-radius: 1.125rem;
    font-family: var(--ff-primary);
    box-shadow: 0.5rem 0.5rem 0 var(--clr-neutral-900);
    pointer-events: none;
}

.card:hover {
    box-shadow: 0.925rem 0.925rem 0 var(--clr-neutral-900);
}


.illustration {
    border-radius: 0.8rem;
}

.header {
    padding: 6px 12px;
    border-radius: 5px;
    display: grid;
    place-content: center;
    background-color: var(--clr-primary-400);
    max-width: 82px;
    margin-right: auto;
}

.text-container {
    display: grid;
    gap: 0.875rem;
    line-height: 1.475rem;
}

.title {
    pointer-events: auto;
}

.title:hover {
    color: var(--clr-primary-400);
    cursor: pointer;
}

.profile-group {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile-picture {
    max-width: 32px;
}


/* Frontend Mentors stuff */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }